---

glow_config_path: "{{ ansible_facts['user_dir'] }}/Library/Preferences/glow"
system_macos_launchd: {}

system_macos_defaults:
  - name: "[Time Machine] Disable prompting to use new exteral drives"
    domain: "com.apple.TimeMachine"
    key: "DoNotOfferNewDisksForBackup"
    type: "bool"
    value: "true"

  - name: "[Terminal] Open new tabs in the default directory"
    domain: "com.apple.Terminal"
    key: "NewTabWorkingDirectoryBehavior"
    type: "int"
    value: "1"

  - name: "[TextEdit] Set plain text mode as default"
    domain: "com.apple.TextEdit"
    key: "RichText"
    type: "int"
    value: "0"

  - name: "[Finder] Show filename extensions by default"
    domain: "NSGlobalDomain"
    key: "AppleShowAllExtensions"
    type: "bool"
    value: "true"
  - name: "[Finder] Disable creation of .DS_Store files on network volumes"
    domain: "com.apple.desktopservices"
    key: "DSDontWriteNetworkStores"
    type: "bool"
    value: "true"
  - name: "[Finder] Hide external hard drives on desktop"
    domain: "com.apple.finder"
    key: "ShowExternalHardDrivesOnDesktop"
    type: "bool"
    value: "false"
  - name: "[Finder] Hide hard drives on desktop"
    domain: "com.apple.finder"
    key: "ShowHardDrivesOnDesktop"
    type: "bool"
    value: "false"
  - name: "[Finder] Hide removable media on desktop"
    domain: "com.apple.finder"
    key: "ShowRemovableMediaOnDesktop"
    type: "bool"
    value: "false"
  - name: "[Finder] Hide mounted servers on desktop"
    domain: "com.apple.finder"
    key: "ShowMountedServersOnDesktop"
    type: "bool"
    value: "false"
  - name: "[Finder] Hide icons on desktop"
    domain: "com.apple.finder"
    key: "CreateDesktop"
    type: "bool"
    value: "false"
  - name: "[Finder] Enable status bar in Finder"
    domain: "com.apple.finder"
    key: "ShowStatusBar"
    type: "bool"
    value: "true"
  - name: "[Finder] Enable breadcrumbs"
    domain: "com.apple.finder"
    key: "ShowPathbar"
    type: "bool"
    value: "true"
  - name: "[Finder] Disable Trash empty warning"
    domain: "com.apple.finder"
    key: "WarnOnEmptyTrash"
    type: "bool"
    value: "false"
  - name: "[Finder] Disable file extension change warning"
    domain: "com.apple.finder"
    key: "FXEnableExtensionChangeWarning"
    type: "bool"
    value: "false"
  - name: "[Finder] Set default view to list"
    domain: "com.apple.finder"
    key: "FXPreferredViewStyle"
    type: "string"
    value: "Nlsv"
  - name: "[Finder] Set default new window target"
    domain: "com.apple.finder"
    key: "NewWindowTarget"
    type: "string"
    value: "PfLo"
  - name: "[Finder] Set default location to ~/Downloads"
    domain: "com.apple.finder"
    key: "NewWindowTargetPath"
    type: "string"
    value: "file://{{ ansible_facts['user_dir'] }}/Downloads/"

  - name: "[Dock] Enable auto-hide"
    domain: "com.apple.dock"
    key: "autohide"
    type: "bool"
    value: "true"
  - name: "[Dock] Disable recent apps"
    domain: "com.apple.dock"
    key: "show-recents"
    type: "bool"
    value: "false"
  - name: "[Dock] Disable icon bouncing"
    domain: "com.apple.dock"
    key: "no-bouncing"
    type: "bool"
    value: "true"
  - name: "[Dock] Set icon size"
    domain: "com.apple.dock"
    key: "tilesize"
    type: "int"
    value: "43"

  - name: "[Window Manager] Disable automatic Spaces rearranging"
    domain: "com.apple.dock"
    key: "mru-spaces"
    type: "bool"
    value: "false"
  - name: "[Window Manager] Enable grouping by application"
    domain: "com.apple.dock"
    key: "expose-group-apps"
    type: "bool"
    value: "true"
  - name: "[Window Manager] Show app switcher on all displays"
    domain: "com.apple.dock"
    key: "appswitcher-all-displays"
    type: "bool"
    value: "true"

  - name: "[Screenshots] Save to ~/Downloads"
    domain: "com.apple.screencapture"
    key: "location"
    type: "string"
    value: "{{ ansible_facts['user_dir'] }}/Downloads"

  - name: "[Expose] Set bottom-left corner to application windows"
    domain: "com.apple.dock"
    key: "wvous-bl-corner"
    type: "int"
    value: "3"
  - name: "[Expose] Set bottom-left corner modifier"
    domain: "com.apple.dock"
    key: "wvous-bl-modifier"
    type: "int"
    value: "0"
  - name: "[Expose] Set bottom-right corner to screensaver"
    domain: "com.apple.dock"
    key: "wvous-br-corner"
    type: "int"
    value: "5"
  - name: "[Expose] Set bottom-right corner modifier"
    domain: "com.apple.dock"
    key: "wvous-br-modifier"
    type: "int"
    value: "0"
  - name: "[Expose] Set top-left corner to Mission Control"
    domain: "com.apple.dock"
    key: "wvous-tl-corner"
    type: "int"
    value: "2"
  - name: "[Expose] Set top-left corner modifier"
    domain: "com.apple.dock"
    key: "wvous-tl-modifier"
    type: "int"
    value: "0"
  - name: "[Expose] Set top-right corner to Launchpad"
    domain: "com.apple.dock"
    key: "wvous-tr-corner"
    type: "int"
    value: "11"
  - name: "[Expose] Set top-right corner modifier"
    domain: "com.apple.dock"
    key: "wvous-tr-modifier"
    type: "int"
    value: "0"

  - name: "[Screensaver] Set timeout"
    domain: "com.apple.screensaver"
    key: "idleTime"
    type: "int"
    value: "300"
  - name: "[Screensaver] Set password timeout"
    domain: "com.apple.screensaver"
    key: "askForPassword"
    type: "int"
    value: "1"
  - name: "[Screensaver] Set password delay"
    domain: "com.apple.screensaver"
    key: "askForPasswordDelay"
    type: "int"
    value: "5"

  - name: "[BT Trackpad] Enable tap-to-click"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "Clicking"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Two-finger tap right-click"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "trackpadRightClick"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Enable pinch to zoom"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "trackpadPinch"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Enable two-finger rotate"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "trackpadRotate"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Three-finger swipe between pages"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "TrackpadThreeFingerHorizSwipeGesture"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Two-finger double tap to zoom"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "trackpadTwoFingerDoubleTapGesture"
    type: "int"
    value: "1"
  - name: "[BT Trackpad] Two-finger swipe for Notification Center"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "TrackpadTwoFingerFromRightEdgeSwipeGesture"
    type: "int"
    value: "3"
  - name: "[BT Trackpad] Three-finger perform look up"
    domain: "com.apple.driver.AppleBluetoothMultitouch.trackpad"
    key: "trackpadThreeFingerTapGesture"
    type: "int"
    value: "2"

  - name: "[Trackpad] Enable tap-to-click"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "Clicking"
    type: "int"
    value: "1"
  - name: "[Trackpad] Two-finger tap right-click"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "trackpadRightClick"
    type: "int"
    value: "1"
  - name: "[Trackpad] Enable pinch to zoom"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "trackpadPinch"
    type: "int"
    value: "1"
  - name: "[Trackpad] Two-finger rotate"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "trackpadRotate"
    type: "int"
    value: "1"
  - name: "[Trackpad] Three-finger swipe between pages"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "TrackpadThreeFingerHorizSwipeGesture"
    type: "int"
    value: "1"
  - name: "[Trackpad] Two-finger double tap to zoom"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "trackpadTwoFingerDoubleTapGesture"
    type: "int"
    value: "1"
  - name: "[Trackpad] Two-finger swipe for Notification Center"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "TrackpadTwoFingerFromRightEdgeSwipeGesture"
    type: "int"
    value: "3"
  - name: "[Trackpad] Three-finger tap to perform look up"
    domain: "com.apple.AppleMultitouchtrackpad"
    key: "trackpadThreeFingerTapGesture"
    type: "int"
    value: "2"
  - name: "[Trackpad] Set global two-finger horizontal swipe between pages"
    domain: "NSGlobalDomain"
    key: "AppleEnableSwipeNavigateWithScrolls"
    type: "bool"
    value: "true"

  - name: "[Trackpad] Enable tap-to-click on Apple mouse"
    domain: "NSGlobalDomain"
    key: "com.apple.mouse.tapBehavior"
    type: "int"
    value: "1"

  - name: "[Keyboard] Set very low key repeat rates"
    domain: "NSGlobalDomain"
    key: "InitialKeyRepeat"
    type: "int"
    value: "25"
  - name: "[Keyboard] Set very low key repeat rates"
    domain: "NSGlobalDomain"
    key: "KeyRepeat"
    type: "int"
    value: "1"

  - name: "[Software Updates] Check for updates daily"
    domain: "com.apple.SoftwareUpdate"
    key: "ScheduleFrequency"
    type: "int"
    value: "1"

  - name: "[Save] Expand save panel by default (1/2)"
    domain: "NSGlobalDomain"
    key: "NSNavPanelExpandedStateForSaveMode"
    type: "bool"
    value: "true"
  - name: "[Save] Expand save panel by default (2/2)"
    domain: "NSGlobalDomain"
    key: "NSNavPanelExpandedStateForSaveMode2"
    type: "bool"
    value: "true"

  - name: "[Print] Expand print panel by default (1/2)"
    domain: "NSGlobalDomain"
    key: "PMPrintingExpandedStateForPrint"
    type: "bool"
    value: "true"
  - name: "[Print] Expand print panel by default (2/2)"
    domain: "NSGlobalDomain"
    key: "PMPrintingExpandedStateForPrint2"
    type: "bool"
    value: "true"
  - name: "[Print] Quit printer app after jobs complete"
    domain: "com.apple.print.PrintingPrefs"
    key: "Quit When Finished"
    type: "bool"
    value: "true"

  - name: "[Maccy] Set ignored apps"
    domain: "org.p0deje.Maccy"
    key: "ignoredApps"
    type: "array"
    value: "['com.1password.1password']"
  - name: "[Maccy] Set menubar icon"
    domain: "org.p0deje.Maccy"
    key: "menuIcon"
    type: "string"
    value: "scissors"
  - name: "[Maccy] Set popup position"
    domain: "org.p0deje.Maccy"
    key: "popupPosition"
    type: "string"
    value: "statusItem"
  - name: "[Maccy] Set max menu items"
    domain: "org.p0deje.Maccy"
    key: "maxMenuItems"
    type: "int"
    value: "25"
  - name: "[Maccy] Remove formatting from items"
    domain: "org.p0deje.Maccy"
    key: "removeFormattingByDefault"
    type: "bool"
    value: "true"

pkg_mgr_packages:
  taps:
    - charmbracelet/tap
    - noahgorstein/tap
  formulas:
    - asciinema
    - atuin
    - atool
    - bandwhich
    - bash
    - bash-completion@2
    - bat
    - bat-extras
    - bcal
    - cabextract
    - coreutils
    - csvlens
    - diceware
    - dict
    - dog
    - dua-cli
    - duf
    - dust
    - eye-d3
    - eza
    - fastfetch
    - fd
    - fdupes
    - ffmpeg
    - findutils
    - freeze
    - fzf
    - fx
    - gawk
    - gh
    - ghostscript
    - git-absorb
    - glow
    - gnu-sed
    - gnu-tar
    - gnu-which
    - grep
    - gzip
    - httpie
    - iftop
    - jq
    - jo
    - kpcli
    - lame
    - less
    - markdown
    - moreutils
    - mtr
    - nb
    - nmap
    - jqp
    - ocrmypdf
    - p7zip
    - par
    - pdfgrep
    - prettyping
    - pwgen
    - qpdf
    - qsv
    - rdfind
    - rename
    - ripgrep
    - rpm2cpio
    - rsync
    - shellcheck
    - shellharden
    - shfmt
    - slides
    - tidy-html5
    - tree
    - trippy
    - watch
    - wget
    - yamllint
    - yt-dlp
  casks:
    - calibre
    - expressions
    - fantastical
    - firefox
    - ghostty
    - iina
    - ghostty
    - keepassxc
    - keepingyouawake
    - libreoffice
    - maccy
    - multipass
    - mullvadvpn
    - musicbrainz-picard
    - netnewswire
    - nextcloud
    - pearcleaner
    - plexamp
    - ppsspp
    - signal
    - sony-ps-remote-play
    - spotify
    - tor-browser
    - transmission
    - transmit
    - utm
    - vlc
    - waterfox
    - zoom
  mas:
    - 1320666476  # Wipr Safari extension
    - 1529448980  # Reeder
    - 1555925018  # Genki Arcade
    - 1569813296  # 1Password Safari extension
    - 1591303229  # Vinegar Safari extension
    - 1622835804  # Kagi Safari extension

pkg_mgr_homebrew_casks_install_options: ["no-quarantine"]
