k9s:
  refreshRate: 2
  maxConnRetry: 5
  enableMouse: true
  headless: false
  crumbsless: false
  readOnly: false
  noIcons: false
  logger:
    tail: 200
    buffer: 500
    sinceSeconds: 300
    fullScreenLogs: false
    textWrap: false
    showTime: false
