[system_{{ ansible_system }}]
localhost

[family_{{ ansible_os_family }}]
localhost

[all:vars]
ansible_connection=local
email={{ email }}
hostname={{ hostname }}
clone_personal_repos={{ clone_personal_repos }}
use_personal_ssh_config={{ use_personal_ssh_config }}
work_system={{ work_system }}