---

system_{{ ansible_system }}:
  hosts:
    localhost
family_{{ ansible_os_family }}:
  hosts:
    localhost

all:
  vars:
    ansible_connection: local
    email: {{ email }}
    hostname: {{ hostname }}
    work_system: {{ work_system }}
    clone_personal_repos: {{ clone_personal_repos }}
    use_personal_ssh_config: {{ use_personal_ssh_config }}
    {%- if 'Linux' in ansible_system %}

    desktop_env: {%- if 'gnome' in ansible_env['XDG_CURRENT_DESKTOP'] | lower %} gnome
                 {%- elif 'kde' in ansible_env['XDG_CURRENT_DESKTOP'] | lower %} kde
                 {%- endif %}
    {%- endif %}
    {%- if ssh_keys is defined %}
    ssh_keys:
      {% for item in ssh_keys['results'] %}
        {{ item['stdout'] }}
      {% endfor %}
    {%- endif %}
