---

system_{{ ansible_system }}:
  hosts:
    localhost
family_{{ ansible_os_family }}:
  hosts:
    localhost

all:
  vars:
    ansible_connection: local
    email: {{ email }}
    hostname: {{ hostname }}
    clone_personal_repos: {{ clone_personal_repos }}
    use_personal_ssh_config: {{ use_personal_ssh_config }}
    work_system: {{ work_system }}
    ssh_keys:
{% for item in ansible_vault['results'] | default(omit) -%}
{{ item['stdout'] | indent(4, True) }}
{% endfor -%}
