[defaults]
collections_path = ~/.ansible/collections
fact_caching = community.general.yaml
fact_caching_connection = ~/.ansible/cache
force_color = true
force_handlers = true
interpreter_python = python3
inventory = ~/.ansible/inventory.yml
local_tmp = /tmp/.ansible
nocows = 1
remote_tmp = /tmp/.ansible
roles_path = ~/.ansible/roles
stdout_callback = ansible.builtin.yaml
