[defaults]
collections_path = ~/.ansible/collections
force_color = true
interpreter_python = auto
local_tmp = /tmp/.ansible
nocows = 1
remote_tmp = /tmp/.ansible
roles_path = ./roles:~/.ansible/roles
vault_password_file = ~/.ansible/vault
inventory = ./inventories/hosts
