[defaults]
collections_path = ~/.ansible/collections
force_color = true
interpreter_python = python3
local_tmp = /tmp/.ansible
nocows = 1
remote_tmp = /tmp/.ansible
roles_path = ~/.ansible/roles
stdout_callback = community.general.yaml
vault_password_file = ~/.ansible/vault
inventory = ./hosts
