[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
docker = "*"
"github3.py" = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
black = "==21.5b2"

[requires]
python_version = "3.9"
