[alias]
  co = checkout
  graph = log --oneline --decorate --graph --all
  history = log --full-history --
  last = log -1 HEAD --stat
  ll = log --oneline
  s = switch
  sb = status -sb
  search = !git rev-list --all | xargs git grep -F
  showtag = !git --no-pager tag -l --sort=v:refname | tail -n -1
  std = stash drop
  stp = stash pop
  tags = tag -l --sort=v:refname
  unstage = reset HEAD --
  upstream = !git branch --show-current | xargs -I{} git branch --set-upstream-to origin/{} {}
  wtl = worktree list
[branch]
  sort = -committerdate
[commit]
  gpgsign = true
  verbose = true
[core]
  excludesfile = {{ ansible_facts['user_dir'] }}/.gitignore
  editor = vim
{% if ansible_facts['system'] == 'Darwin' %}
  fsmonitor = true
{% endif %}
  untrackedCache = true
[diff]
  algorithm = histogram
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = {{ git_signing_allowed_signers }}
[help]
  autocorrect = 20
[init]
  defaultBranch = main
[merge]
{% if (ansible_facts['distribution'] == 'Ubuntu') and
      (ansible_facts['distribution_version'] | int < 24) %}
  conflictstyle = diff3
{% else %}
  conflictstyle = zdiff3
{% endif %}
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[rerere]
  enabled = true
[status]
  showUntrackedfiles = all
{% if ansible_facts['hostname'] == "mac06770" %}
[url "https://{{ infractl_token }}@github.com"]
  insteadOf = https://github.com
{% endif %}
[user]
  name = {{ ansible_facts['user_gecos'] }}
  email = {{ global_email_address }}
  signingkey = {{ key_contents[0] }} {{ key_contents[1] }}
