{% for host in ssh_config -%}
Host {{ host['host'] }}
{% filter indent(width=2, first=True) %}
{% for config, value in host['args'].items() -%}
  {{ config }} {{ value }}
{% endfor %}
{% endfilter %}

{% endfor %}
Host *
  User {{ ansible_facts['user_id'] }}
  IdentitiesOnly yes
  CanonicalizeHostname yes
  ServerAliveCountMax 4
  ServerAliveInterval 15
  SetEnv TERM=xterm-256color  # workaround for SSHing from Ghostty

{% if global_use_1password_ssh_agent %}
Include ~/.ssh/1Password/config
{% endif %}
