{% for host in ssh_config -%}
Host {{ host['host'] }}
{% filter indent(width=4, first=True) %}
{% for config, value in host['args'].items() -%}
  {{ config }} {{ value }}
{% endfor %}
{% endfilter %}

{% endfor %}
