set -s  @status_position              "{{ config['status_position'] }}"
set -s  @status_right                 "{{ config['status_right'] }}"
set -s  @status_style                 "{{ config['status_style'] }}"
set -s  @pane_border_color_default    "{{ config['pane_border_color']['default'] }}"
set -s  @pane_border_color_sync       "{{ config['pane_border_color']['sync'] }}"
set -s  @pane_border_color_zoom       "{{ config['pane_border_color']['zoom'] }}"
set -s  @pane_border_lines            "{{ config['pane_border_lines'] }}"
set -s  @pane_border_status           "{{ config['pane_border_status'] }}"
set -s  @window_status_activity       "{{ config['window_status_activity'] }}"
set -s  @window_status_current_format "{{ config['window_status_current_format'] }}"
set -s  @window_status_format         "{{ config['window_status_format'] }}"

set -g  pane-active-border-style "#{?window_zoomed_flag,#{@pane_border_color_zoom},#{?pane_synchronized,#{@pane_border_color_sync},#{@pane_border_color_default}}}"
set -g  pane-border-format "#{?window_zoomed_flag, ZOOM ,}"
set -g  pane-border-indicators both
set -g  pane-border-style "bg=default,#{?pane_synchronized,#{@pane_border_color_sync},fg=white}"
set -gF pane-border-status "#{@pane_border_status}"
set -gF pane-border-lines "#{@pane_border_lines}"

set -g  window-status-activity-style "#{@window_status_activity}"
set -gF window-status-current-format "#{@window_status_current_format}"
set -gF window-status-format "#{@window_status_format}"

set -g  status on
set -g  status-justify left
set -g  status-left ""
set -g  status-style "#{@status_style}"
set -gF status-right "#{@status_right}"
set -gF status-position "#{@status_position}"

set -g  message-style "bg=black,fg=default"
set -g  mode-style "bg=white,fg=black"

set -g  aggressive-resize off
set -g  allow-passthrough on
set -g  allow-rename on
set -g  automatic-rename-format "#{b:pane_current_path}"
set -g  base-index 1
set -g  default-command "${SHELL}"
set -g  default-terminal "tmux-256color"
set -g  detach-on-destroy off
set -g  history-limit 10000
set -g  mouse on
set -g  renumber-windows on
set -g  status-interval 1
set -g  terminal-overrides "alacritty:Tc,xterm-256color:Tc,gnome*:Tc"

bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe {{ tmux_clipboard }}
bind -T copy-mode-vi WheelDownPane send -N2 -X scroll-down  # fix scrolling speed
bind -T copy-mode-vi WheelUpPane send -N2 -X scroll-up      # fix scrolling speed

bind '+' resize-pane -Z
bind '%' split-window -h -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind 'C' new-window -c "#{pane_current_path}"
bind 'c' new-window -c "~/"
bind 'D' run-shell -b "bmux dump"
bind 'r' run-shell -b "bmux rename #{pane_current_path}"
bind 'u' source-file "~/.config/tmux/{{ item['key'] }}.conf"
bind 'y' set synchronize-panes
{% if item['key'] == "tmux" %}
bind 'I' command-prompt -p "New session: "  "new-session -A -s '%%'"
bind 'M' choose-tree -Zs "move-window -t %%"
bind 'm' choose-tree -Z "move-pane -t %%"
bind 'O' run-shell -b "bmux open"
bind 'S' run-shell -b "bmux open --new-session"
bind 'N' display-popup -E -w 90% -h 90% -b rounded -S "fg=color234" "tmux -L notes -f ~/.config/tmux/popup.conf new-session -As notes -c ~/Development/Scratch 'tmuxp load nb -a'"
bind 'P' display-popup -E -w 55% -h 100% -b rounded -S "fg=color234" "tmux -L popup -f ~/.config/tmux/popup.conf new-session -As popup -c ~/Development/Scratch"
{% endif %}

{% for plugin in tmux_plugins %}
run-shell {{ ansible_facts['user_dir'] }}/.local/share/{{ plugin['name'] }}/{{ plugin['exec'] }}
{% endfor %}
