---

window:
  padding:
    x: 15
    y: 15
  decorations: {% if 'Darwin' in ansible_system %}buttonless{% else %}none{% endif %}
  startup_mode: Maximized
font:
  normal:
    family: SauceCodePro Nerd Font
    style: Light
  bold:
    family: SauceCodePro Nerd Font
    style: Semibold
  italic:
    family: SauceCodePro Nerd Font
    style: Italic
  bold_italic:
    family: SauceCodePro Nerd Font
    style: Bold Italic
  size: {% if 'Darwin' in ansible_system %}13{% else %}12{% endif %}
  {% if 'Darwin' in ansible_system %}
  AppleFontSmooting: true
  {% endif %}
colors:
  primary:
    background: '0xfdf6e3'
    foreground: '0x586e75'
  normal:
    black: '0x073642'
    red: '0xdc322f'
    green: '0x859900'
    yellow: '0xb58900'
    blue: '0x268bd2'
    magenta: '0xd33682'
    cyan: '0x2aa198'
    white: '0xeee8d5'
  bright:
    black: '0x002b36'
    red: '0xcb4b16'
    green: '0x586e75'
    yellow: '0x657b83'
    blue: '0x839496'
    magenta: '0x6c71c4'
    cyan: '0x93a1a1'
    white: '0xfdf6e3'
cursor:
  style:
    shape: Beam
key_bindings:
  - key: Left
    mods: Alt
    chars: "\x1bb"
  - key: Right
    mods: Alt
    chars: "\x1bf"
  - key: Left  # Home
    mods: Command
    chars: "\x1bOH"
    mode: AppCursor
  - key: Right  # End
    mods: Command
    chars: "\x1bOF"
    mode: AppCursor
