[alias]
  btrim = !git branch | grep --invert-match '*' | cut -c 3- \
    | fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border --preview='git log {} --' \
    | xargs --no-run-if-empty git branch --delete --force
  co = checkout
  common = rev-parse --git-common-dir
  graph = log --oneline --decorate --graph --all
  history = log --full-history --
  last = log -1 HEAD --stat
  ll = log --oneline
  s = switch
  sb = status -sb
  search = !git rev-list --all | xargs git grep -F
  sta = stash apply
  std = stash drop
  stp = stash pop
  stu = stash --include-untracked
  top = rev-parse --show-toplevel
  unstage = reset HEAD --
  upstream = !git branch --show-current | xargs -I{} git branch --set-upstream-to origin/{} {}
  wipe = !git stash --include-untracked && git stash drop
  wt = worktree
  wta = !git for-each-ref --format='%(refname:short)' refs/remotes \
    | grep -Ev '(HEAD|main|master)' \
    | cut -d/ -f2 \
    | fzf --no-multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border --preview='git log {} --' \
    | xargs -I{} --no-run-if-empty git worktree add ../{}
  wtd = !git worktree list --porcelain | grep -E "^worktree" | tail -n+2 | awk '{print $2}' \
    | fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border --preview='git log {} --' --delimiter / --with-nth -1 \
    | xargs -I{} --no-run-if-empty git worktree remove {}
  wtl = worktree list
[core]
  excludesfile = {{ ansible_user_dir }}/.gitignore
  editor = vim
  pager = delta
[delta]
  syntax-theme = Solarized (light)
  navigate = true
  line-numbers = true
[help]
  autocorrect = 20
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[user]
  name = {{ ansible_user_gecos }}
  email = {{ email }}
{% if 'remmac06432' in ansible_hostname -%}
[url "https://api:{{ github['infractl'] | trim('\n') }}@github.com/"]
  insteadOf = https://github.com/
{% endif -%}
