[alias]
  co = checkout
  diff-staged = diff --staged
  diff-upstream = !git fetch origin && git diff master origin/master
  graph = log --oneline --decorate --graph --all
  history = log --full-history --
  last = log -1 HEAD --stat
  ll = log --oneline
  s = switch
  sb = status -sb
  search = !git rev-list --all | xargs git grep -F
  showtag = !git --no-pager tag -l --sort=v:refname | tail -n -1
  std = stash drop
  stp = stash pop
  stu = stash --include-untracked
  tags = tag -l --sort=v:refname
  unstage = reset HEAD --
  upstream = !git branch --show-current | xargs -I{} git branch --set-upstream-to origin/{} {}
  wtl = worktree list
[core]
  excludesfile = {{ ansible_user_dir }}/.gitignore
  editor = vim
  pager = delta
  fsmonitor = true
[delta]
  syntax-theme = Solarized (light)
  navigate = true
  line-numbers = true
[help]
  autocorrect = 20
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[user]
  name = {{ ansible_user_gecos }}
  email = {{ email }}
  signingkey = {{ pubkey_content[0] }} {{ pubkey_content[1] }}
{% if work_system -%}
[url "https://api:{{ github['work_token'] | trim('\n') }}@github.com/"]
  insteadOf = https://github.com/
{% endif -%}
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = {{ git_allowed_signers_file }}
