---

host_hostname: "{{ system_hostname }}"
host_email_address: "{{ email_address }}"
host_has_desktop: {{
  True if
    ansible_facts['env']['XDG_SESSION_TYPE'] | default('tty') != "tty" or
    ansible_facts['distribution'] == "MacOSX"
  else False
}}
host_homebrew_installed: {{
  True if
    ansible_facts['env']['HOMEBREW_INSTALL_ON_LINUX'] is defined
  else False
}}
