---

local:
  hosts:
    localhost
  children:
    {{ ansible_system }}:
      hosts:
        localhost
    {{ ansible_distribution }}:
      hosts:
        localhost
  vars:
    ansible_connection: local
    git_github_token: !vault |
      {{ github_token_encrypted | indent(width=6, first=true) | trim }}
    ssh_keys:
      rsa: !vault |
        {{ rsa_encrypted | indent(width=8, first=true) | trim }}
      ed25519: !vault |
        {{ ed25519_encrypted | indent(width=8, first=true) | trim }}
