---

local:
  hosts:
    {{ system_hostname }}:
  children:
    {{ ansible_system }}:
      hosts:
        {{ system_hostname }}
    {{ ansible_distribution }}:
      hosts:
        {{ system_hostname }}
    {{ ansible_os_family }}:
      hosts:
        {{ system_hostname }}
  vars:
    ansible_connection: local
