{
	"$schema": "https://joplinapp.org/schema/settings.json",
	"locale": "en_US",
	"api.token": "d71aa41d0eaa93713cc561b3d1b102e46e7dc13e90928a9f6ba360cac3544550576ead50f21567c78e8b7aefb9873c536903ee9bd119b2c01896084ceee3d51c",
	"markdown.plugin.softbreaks": false,
	"markdown.plugin.typographer": false,
	"spellChecker.language": "en-US",
	"ui.layout": {
		"key": "root",
		"children": [
			{
				"key": "sideBar",
				"width": 188,
				"visible": true
			},
			{
				"key": "noteList",
				"width": 232,
				"visible": true
			},
			{
				"key": "editor",
				"visible": true
			}
		],
		"visible": true
	},
	"noteVisiblePanes": [
		"viewer"
	],
	"dateFormat": "YYYY-MM-DD",
	"timeFormat": "h:mm A",
	"theme": 3,
	"markdown.plugin.sub": true,
	"markdown.plugin.sup": true,
	"markdown.plugin.multitable": true,
	"showTrayIcon": false,
	"editor.codeView": true,
	"layoutButtonSequence": 1,
	"notes.sortOrder.reverse": false,
	"notes.perFieldReverse": {
		"user_updated_time": true,
		"user_created_time": true,
		"title": false,
		"order": false
	},
	"notes.sortOrder.field": "title"
}
