<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_color</key>
	<string>monochrome</string>
	<key>BAT_mini_label</key>
	<false/>
	<key>Battery_bar_chart_box</key>
	<false/>
	<key>Battery_bar_chart_color</key>
	<string>system</string>
	<key>Battery_bar_chart_frame</key>
	<true/>
	<key>Battery_battery_additional</key>
	<string>percentage</string>
	<key>Battery_battery_color</key>
	<true/>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_label</key>
	<true/>
	<key>CPU_line_chart_value</key>
	<true/>
	<key>CPU_line_chart_valueColor</key>
	<false/>
	<key>CPU_mini_alignment</key>
	<string>right</string>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_label</key>
	<false/>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Disk_state</key>
	<false/>
	<key>Disk_widget</key>
	<string></string>
	<key>Fans_widget</key>
	<string></string>
	<key>NSStatusItem Preferred Position Battery_Battery</key>
	<real>357</real>
	<key>NSStatusItem Preferred Position CPU_Line chart</key>
	<real>649</real>
	<key>NSStatusItem Preferred Position Network_Speed</key>
	<real>507</real>
	<key>NSStatusItem Preferred Position RAM_Memory</key>
	<real>571</real>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_value</key>
	<true/>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_label</key>
	<true/>
	<key>RAM_memory_orderReversed</key>
	<false/>
	<key>RAM_memory_symbols</key>
	<true/>
	<key>RAM_widget</key>
	<string>memory</string>
	<key>Sensors_widget</key>
	<string></string>
	<key>dockIcon</key>
	<false/>
	<key>id</key>
	<string>A2D5BF2D-3BE6-4CCF-A20A-898221BC2F30</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>version</key>
	<string>{{ stats_version }}</string>
</dict>
</plist>
