{% macro popup(key, name, path, cmd) -%}
bind '{{ key }}' display-popup -E -w 45% -h 85% -b rounded -S "fg=colour234" "tmux -L {{ name }} -f ~/.config/tmux/minimal.conf new-session -A -s {{ name }} -c {{ path }}{% if cmd %} {{ cmd }}{% endif %}"
{%- endmacro %}
set -g allow-rename on
set -g base-index 1
set -g default-command "${SHELL}"
set -g default-terminal "screen-256color"
set -g detach-on-destroy off
set -g history-limit 10000
set -g message-command-style "fg=colour234"
set -g message-style "fg=colour234"
set -g mouse on
set -g renumber-windows on
set -g status-interval 1

{% if "tmux" in item -%}
set -g pane-active-border-style "bg=default,#{?window_zoomed_flag,fg=colour61,#{?pane_synchronized,fg=colour37,fg=colour166}}"
set -g pane-border-format "#[#{?window_zoomed_flag,fg=colour61,#{?pane_synchronized,fg=colour37,#{?pane_active,fg=colour166,fg=colour245}}}]#{?window_zoomed_flag, ZOOM ,}"
set -g pane-border-lines "heavy"
set -g status on
set -g status-right "#[fg=colour61,bold]#{session_name} #[fg=default]@ #[fg=colour125]#h#[nobold]"
set -g window-status-current-format "#[fg=colour231,bg=colour33,bold] #I: #W #[nobold]"
set -g window-status-format "#[fg=colour33,bg=colour254,bold] #I: #W #[nobold]"
{% elif "extra" in item -%}
set -g pane-active-border-style "bg=default,#{?window_zoomed_flag,fg=colour61,#{?pane_synchronized,fg=colour37,fg=colour166}}"
set -g pane-border-format " #[bold,fg=colour231,#{?window_zoomed_flag,bg=colour61,#{?pane_synchronized,bg=colour37,#{?pane_active,bg=colour166,bg=colour245}}}] #{?window_zoomed_flag,Z,#P} \
#[#{?window_zoomed_flag,fg=colour61,#{?pane_synchronized,fg=colour37,#{?pane_active,fg=colour166,fg=colour245}}},bg=default,nobold] \
#[bold]#{s|Development/Projects|D/P|;s|/Users/bfrank|~|:pane_current_path}#[nobold] \
#[align=right] #{pane_current_command} "
set -g pane-border-lines "heavy"
set -g status 2
set -g status-format[1] "#[align=right]#(tmux-status)"
set -g status-right "#[fg=colour61,bold]#{session_name} #[fg=default]@ #[fg=colour125]#h#[nobold]"
set -g window-status-current-format "#[fg=colour231,bg=colour33,bold] #I: #W #[nobold]"
set -g window-status-format "#[fg=colour33,bg=colour254,bold] #I: #W #[nobold]"
{% elif "minimal" in item -%}
set -g pane-active-border-style "fg=colour234"
set -g pane-border-format ""
set -g pane-border-lines "single"
set -g status on
set -g status-right "#[fg=colour61,bold]#{session_name} "
set -g window-status-current-format "#[fg=colour231,bg=colour33,bold] #I#F #[nobold]"
set -g window-status-format "#[fg=colour33,bg=colour254,bold] #I#F #[nobold]"
{% elif "vscode" in item -%}
set -g pane-active-border-style "bg=default,#{?window_zoomed_flag,fg=colour160,#{?pane_synchronized,fg=colour37,fg=colour166}}"
set -g pane-border-format "#[bold,fg=colour231,#{?pane_active,bg=colour166,bg=colour245}] #P "
set -g pane-border-lines "single"
set -g status on
set -g status-right "#[fg=colour61,bold]#{session_name} "
set -g window-status-current-format "#[fg=colour231,bg=colour33,bold] #I#F #[nobold]"
set -g window-status-format "#[fg=colour33,bg=colour254,bold] #I#F #[nobold]"
{% endif -%}
set -g aggressive-resize off
set -g mode-style "bg=colour24,fg=colour231"
set -g pane-border-style "bg=default,#{?pane_synchronized,fg=colour37,fg=colour245}"
set -g pane-border-status top
set -g status-left ""
set -g status-position top
set -g status-style "bg=default"
set -g window-status-activity-style "fg=colour33,bg=default"
set -g window-status-current-style "fg=colour231,bg=default"

bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe
{%- if 'Darwin' in ansible_system %} "pbcopy"
{% elif 'Linux' in ansible_system %} "xsel -i -p && xsel -o -p | xsel -i -b"
{% endif -%}
bind -T copy-mode-vi WheelDownPane send -N2 -X scroll-down  # fix scrolling speed
bind -T copy-mode-vi WheelUpPane send -N2 -X scroll-up      # fix scrolling speed
bind -n C-v send-prefix                                     # controls nested tmux
bind '%' split-window -h -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind 'C' new-window -c "#{pane_current_path}"
bind 'D' run-shell -b "tmux-utils dump-pane"
bind 'M' choose-tree -Z "move-pane -t %%"
bind 'O' run-shell -b "tmux-utils open-project"
{% if "tmux" in item -%}
{{ popup("N", "notes", "~/Development/Projects/notes-etc/main", "'vim README.md'") }}
{{ popup("R", "reference", "~/Development/Reference", "") }}
{{ popup("P", "popup", "~/", "") }}
{% endif -%}
bind 'S' command-prompt -p "New session: "  "new-session -A -s '%%'"
bind 'W' choose-tree -Zs "move-window -t %%"
bind 'c' new-window -c "~/"
bind 'h' select-layout even-vertical
bind 'k' clear-history
bind 'r' run-shell -b "tmux-utils rename-window #{pane_current_path}"
bind 't' select-layout tiled
{% if "tmux" in item -%}
bind 'u' source-file "~/.config/tmux/tmux.conf"
{% elif "minimal" in item -%}
bind 'u' source-file "~/.config/tmux/minimal.conf"
{% endif -%}
bind 'v' select-layout even-horizontal
bind 'y' set synchronize-panes
