highlight colorcolumn     ctermbg=231
highlight GitGutterAdd    cterm=bold        ctermfg=33
highlight GitGutterChange cterm=bold        ctermfg=136
highlight GitGutterDelete cterm=bold        ctermfg=160
highlight Search          ctermbg=DarkBlue  ctermfg=231
highlight! link SignColumn LineNr

syntax on
colorscheme solarized8

let g:airline_skip_empty_sections = 1
let g:airline_theme = 'sol'
let g:airline#extensions#tabline#buffer_nr_show = 1
let g:airline#extensions#tabline#enabled = 1
let g:airline#extensions#tabline#fnamemod = ':t'
let g:airline_section_b = ''
let g:airline_section_y = ''
let g:airline_section_z = '%3p%% %3l/%L:%3v'
let g:indentLine_char = '│'
let g:indentLine_color_term = 254
let g:is_posix = 1
let g:mapleader = ","
let g:netrw_browse_split = 4
let g:netrw_winsize = 30
let g:solarized_statusline = "flat"
let g:solarized_termtrans = 1
let g:vim_json_conceal = 0
let g:vim_markdown_conceal = 0

map <C-n> :Lexplore<CR>
nnoremap <Leader>s :set spell!<CR>
nnoremap <Leader>b :Buf<CR>
nnoremap <Space> :nohlsearch<CR>
nnoremap H :bp<CR>
nnoremap L :bn<CR>

set background=light
set backspace=indent,eol,start
{% if 'MacOSX' in ansible_distribution -%}
set clipboard=unnamed
set rtp+={{ homebrew_prefix }}/opt/fzf
{% elif 'Ubuntu' in ansible_distribution -%}
set rtp+=/usr/share/doc/fzf/examples/
{% endif -%}
set colorcolumn=100
set conceallevel=0
set cursorline
set foldmethod=syntax
set hlsearch incsearch
set laststatus=2
set linebreak
set mouse=a
set nofixendofline  " prevents automatic newline at EOF
set novisualbell noerrorbells
set number
set pastetoggle=<C-p>
set scrolloff=4
set showmatch
set term=screen-256color
set ttimeoutlen=10
set updatetime=100

" configure tabs as spaces
set expandtab smarttab autoindent
set tabstop=2 softtabstop=2 shiftwidth=2

" allow mouse to work inside tmux
if exists('$TMUX')
  set ttymouse=xterm2
endif
