PATH="$HOME/.local/bin"
PATH="$PATH:$HOME/.krew/bin"
{% if 'MacOSX' in ansible_distribution %}
PATH="$PATH:/usr/local/opt/coreutils/libexec/gnubin"
PATH="$PATH:/usr/local/opt/findutils/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gawk/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gnu-sed/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gnu-tar/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gnu-which/libexec/gnubin"
PATH="$PATH:/usr/local/opt/grep/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gsed/libexec/gnubin"
PATH="$PATH:/usr/local/opt/libtool/libexec/gnubin"
PATH="$PATH:{{ python_user_path['MacOSX'] }}"
PATH="$PATH:/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin"
PATH="$PATH:/opt/X11/bin"
{% endif %}
PATH="$PATH:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"

MANPATH="$HOME/.local/share/man"
{% if 'MacOSX' in ansible_distribution %}
MANPATH="$MANPATH:/usr/local/opt/coreutils/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/findutils/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/gawk/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/gnu-sed/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/gnu-tar/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/gnu-which/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/grep/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/gsed/libexec/gnuman"
MANPATH="$MANPATH:/usr/local/opt/libtool/libexec/gnuman"
{% endif %}
MANPATH="$MANPATH:/usr/local/share/man:/usr/share/man"


export PATH
export MANPATH
export VISUAL=vim
export EDITOR=vim
export DOCKER_BUILDKIT=1                # Build containers in parallel
export FZF_DEFAULT_OPTS="--reverse --height=50% --color=light --multi"
export LESS_TERMCAP_mb=$'\E[01;32m'     # Add colors to manpages
export LESS_TERMCAP_md=$'\E[01;32m'     # "
export LESS_TERMCAP_me=$'\E[0m'         # "
export LESS_TERMCAP_se=$'\E[0m'         # "
export LESS_TERMCAP_so=$'\E[01;47;34m'  # "
export LESS_TERMCAP_ue=$'\E[0m'         # "
export LESS_TERMCAP_us=$'\E[01;36m'     # "
export LESS=-r                          # "
export PRE_COMMIT_COLOR=never           # pre-commit colors incompatible with solarized-light
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=14"
{% if 'MacOSX' in ansible_distribution %}
export SHELL_SESSIONS_DISABLE=1         # See /etc/zshrc_Apple_Terminal
export CLICOLOR=1
export HOMEBREW_PREFIX=/usr/local
export HOMEBREW_CELLAR=/usr/local/Cellar
export HOMEBREW_REPOSITORY=/usr/local/Homebrew
export INFOPATH=/usr/local/share/info:"${INFOPATH:-}"
export CLOUDSDK_PYTHON=/usr/bin/python3
{% endif %}


{% if 'MacOSX' in ansible_distribution %}
eval "$(keychain --eval --ignore-missing --quiet --inherit any {{ ssh_private_keys | join(' ') }})"
{% elif 'Fedora' in ansible_distribution %}
eval "$(keychain --eval --ignore-missing --quiet {{ ssh_private_keys | join(' ') }})"
{% endif %}
eval "$(dircolors $HOME/.dir_colors)"


alias _inline_fzf_nh='fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border rounded'
alias _inline_fzf_nh_single='fzf --no-multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border rounded'
alias _inline_fzf='fzf --multi --ansi -i -1 --height=50% --reverse -0 --header-lines=1 --inline-info --border rounded'

alias cdgcommon='cd $(git rev-parse --git-common-dir | xargs dirname | xargs realpath --relative-to .)'
alias cdgroot='cd $(git rev-parse --show-toplevel | xargs realpath --relative-to .)'
alias cdgwt='cd $(git worktree list --porcelain | sed -rn "s/^worktree\s(.+)$/\1/p" | _inline_fzf_nh_single --delimiter / --with-nth -1)'

alias pipi='python3 -m pip install --user'
alias pipr='python3 -m pip uninstall'
alias pipu='python3 -m pip list --outdated --format=json 2>/dev/null | jq -r ".[].name" | xargs python3 -m pip install --user --upgrade'

alias l='exa --color always --classify'
alias la='exa --color always --classify --all'
alias lc='exa --color always --classify --long --all --grid'
alias ld='exa --color always --classify --long --all --only-dirs'
alias lg='exa --color always --classify --long --all --git'
alias lG='exa --color always --classify --long --all --group'
alias ll='exa --color always --classify --long --all'
alias lp='exa --color always --classify --long --all --no-permissions --octal-permissions'
alias lS='exa --color always --classify --long --all --group-directories-first --sort size'
alias ls='ls --color --classify --human-readable'
alias lt='exa --color always --classify --long --all --sort time'

alias all='which -a'
alias condense='grep -Erv "(^#|^$)"'
alias cp='cp -i'
alias e='extract'
alias glances='glances --theme-white'
alias grep='grep -I'
alias isodate='date --iso-8601=seconds'
alias mkpasswd='pwgen 12 5 -ABcny1'
alias mp='multipass'
alias pbb='code ~/Development/Reference/pure-bash-bible/README.md'
alias pubip='dig myip.opendns.com @resolver1.opendns.com'
alias scp='rsync -va'
alias show='whence -f'
alias sync='rsync -a --info=progress2'
alias tf='terraform'
alias timestamp='date +%F_%T | tr -d ":-" | tr "_" "-"'
alias vs='code .'
{% if 'Fedora' in ansible_distribution %}
alias iowatch='watch -n 1 iostat -xy --human 1 1'
alias ipa='ip -c a'
alias lsblk='lsblk -o "NAME,FSTYPE,SIZE,UUID,MOUNTPOINT"'
alias lsports='lsof -i -P -n'
alias proc='ps -e --forest -o pid,ppid,user,time,cmd'
{% endif %}


blackdiff() { black --line-length 100 --diff "$@"; }
cheat() { curl -s "cheat.sh/$1?style=vs"; }
code-remote() { code --remote=ssh-remote+"$1" /home/{{ ansible_user_id }}; }
crackpdf() { qpdf --password="$1" --decrypt "$2" "${2%.*}"-decrypted.pdf; }
dtags() { http https://registry.hub.docker.com/v1/repositories/"$1"/tags | jq -r '.[]|.name'; }
diceware() { shuf -n "${1:-5}" ~/.local/share/dict/words | xargs | tr " " "${2:--}"; }
decrypt() { openssl enc -d -aes-256-cbc -in "$1" -out "$1.decrypted"; }
encrypt() { openssl enc -aes-256-cbc -salt -in "$1" -out "$1.encrypted"; }
tardir() { tar -czf "${1%/}".tar.gz "$1"; }
{% if 'Fedora' in ansible_distribution and 'gnome' in desktop_env %}
gedit() { nohup /usr/bin/gedit "$@" &> /dev/null &; }
{% endif %}


precmd() {
  local rc=$? eol=$'\n' _gitdir _kcxt _repo _prompt_color _prompt_line1 _prompt_line2
  local _git_icon=$'\uf407' _py_icon=$'\uf81f' _k8s_icon=$'\ufd31'
  local fg_Blue="%F{33}" fg_Cyan="%F{37}" fg_Violet="%F{61}" fg_Green="%F{64}" fg_Magenta="%F{125}" fg_Red="%F{160}"
  local fg_NoColor="%f" bold="%B" nobold="%b" fg_Reset="%b%f"

  _PYENV="" _GIT="" _KUBECTL="" _HOSTNAME="" _CWD="${bold}${fg_Blue}%(5~|%-1~/.../%1~|%~)${fg_Reset} "

  [[ -n $SSH_CONNECTION ]] && _HOSTNAME="${bold}${fg_Magenta}$(hostname -s)${fg_Reset} in "
  [[ -n $TMUX ]] && _CWD="${bold}${fg_Blue}%1~${fg_Reset} "
  [[ -n "$VIRTUAL_ENV" ]] && _PYENV="via ${fg_Cyan}${_py_icon} ${bold}$(python --version | awk '{print $2}')${fg_Reset} "

  if _kcxt="$(kubectl config current-context 2> /dev/null)"; then
    [[ $_kcxt =~ ^gke ]] && _kcxt="$(sed -rn 's|^gke_.*_.*_(.*)(-cluster)*$|\1|p' <<< $_kcxt)"
    _KUBECTL="using ${fg_Violet}${_k8s_icon} ${bold}${_kcxt}${fg_Reset} "
  fi

  if _gitdir="$(git rev-parse --git-common-dir 2> /dev/null)"; then
    _repo="$(basename $(git config --get remote.origin.url || git rev-parse --show-toplevel) | sed 's/\.git$//')"
    vcs_info; _GIT="on ${fg_Green}${_git_icon} ${bold}${_repo}/${fg_NoColor}${vcs_info_msg_0_}${nobold}"
  fi

  case "$rc" in
    0) _prompt_color="${fg_Green}"   ;;
    1) _prompt_color="${fg_Red}"     ;;
    *) _prompt_color="${fg_Magenta}" ;;
  esac

  _prompt_line1="${_HOSTNAME}${_CWD}${_KUBECTL}${_PYENV}${_GIT}"
  _prompt_line2="${bold}${_prompt_color}%#${fg_NoColor}${nobold} "

  PS1="${eol}${_prompt_line1}${eol}${_prompt_line2}"
}

function +vi-extended-git() {
  [[ -s $(git rev-parse --show-toplevel)/.git/refs/stash ]] && hook_com[staged]+="$"
  git status --porcelain | grep -q "^?? " 2> /dev/null && hook_com[staged]+="?"
}

zstyle ':vcs_info:git*' actionformats '%F{64}%b %F{136}%u%c%m%f|%F{136}%a%f'
zstyle ':vcs_info:git*' check-for-changes true
zstyle ':vcs_info:git*' formats '%F{64}%b%f %F{136}%u%c%m%f'
zstyle ':vcs_info:git*' stagedstr '+'
zstyle ':vcs_info:git*' unstagedstr '*'
zstyle ':vcs_info:git*+set-message:*' hooks extended-git

zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'         # Case insensitive tab completion
zstyle ':completion:*' completer _expand_alias _complete _ignored # Expand aliases with tab
zstyle ':completion:*' menu select                 # Use menu selection for completion
zstyle ':completion:*' list-suffixes               # Show ambiguous components for partial pathnames
zstyle ':completion:*' rehash true                 # Auto find new executables in path
zstyle ':completion:*' accept-exact '*(N)'         # Speed up completions
zstyle ':completion:*' use-cache on                # "
zstyle ':completion:*' cache-path ~/.zsh/cache     # "

WORDCHARS=${WORDCHARS//\/[&.;]}                    # Don't consider these part of the word
CORRECT_IGNORE_FILE='[_|.]*'                       # Skip correcting commands matching pattern
HISTFILE=~/.zsh_history
HISTSIZE=2000
SAVEHIST=5000

setopt appendhistory           # Immediately append history instead of overwriting
setopt autocd                  # If only directory path is entered, cd there.
setopt correct                 # Auto correct mistakes
setopt extended_history        # Save each command’s beginning timestamp and the duration
setopt extendedglob            # Extended globbing. Allows using regular expressions with *
setopt hist_verify             # Confirm commands from history expansion
setopt histignorealldups       # If a new command is a duplicate, remove the older one
setopt inc_append_history_time # Time taken by the command is recorded correctly in the history file
setopt nobeep                  # No beep
setopt nocaseglob              # Case insensitive globbing
setopt numericglobsort         # Sort filenames numerically when it makes sense
setopt rcexpandparam           # Array expension with parameters

autoload -U +X bashcompinit && bashcompinit
autoload -Uz compinit zmv zcalc vcs_info edit-command-line && compinit
zle -N edit-command-line

bindkey -e                                         # Emacs style shortcuts
bindkey '^[[7~' beginning-of-line                  # Home key
bindkey '^[[H' beginning-of-line                   # Home key
if [[ "${terminfo[khome]}" != "" ]]; then
  bindkey "${terminfo[khome]}" beginning-of-line   # [Home] - Go to beginning of line
fi
bindkey '^[[8~' end-of-line                        # End key
bindkey '^[[F' end-of-line                         # End key
if [[ "${terminfo[kend]}" != "" ]]; then
  bindkey "${terminfo[kend]}" end-of-line          # [End] - Go to end of line
fi
bindkey '^[[3~' delete-char                        # Delete key
bindkey '^[[C'  forward-char                       # Right key
bindkey '^[[D'  backward-char                      # Left key
bindkey '^[[5~' history-beginning-search-backward  # Page up key
bindkey '^[[6~' history-beginning-search-forward   # Page down key
bindkey '^X^E' edit-command-line


{% if 'MacOSX' in ansible_distribution -%}
source /usr/local/opt/fzf/shell/completion.zsh
source /usr/local/opt/fzf/shell/key-bindings.zsh
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc
{% elif 'Fedora' in ansible_distribution -%}
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/fzf/shell/key-bindings.zsh
{% endif -%}
{% for file in zsh_source_files -%}
source {{ file['path'] }}
{% endfor -%}

{% if work_system -%}
source {{ ansible_user_dir }}/.infractl/orm
source {{ ansible_user_dir }}/.infractl/secrets
complete -o nospace -C /usr/local/bin/terraform terraform
complete -o nospace -C /usr/local/bin/vault vault
{% endif %}

eval "$(zoxide init zsh --hook pwd)"
complete -F __start_kubectl k
