---

## GLOBAL

global_homebrew_prefix: "{{ host_vars_globals['homebrew_prefix'][ansible_facts['system']] }}"
global_email_address: "{{ host_vars_globals['email'] }}"
global_is_desktop_system: {{ host_vars_globals['is_desktop'] }}
global_desktop_environment: "{{ host_vars_globals['desktop_environment'] }}"
global_use_1password_ssh_agent: {{ host_vars_globals['is_desktop'] }}
global_optional_roles:
# - cloud
{% if host_vars_globals['is_desktop'] %}
  - desktop
# - self_hosted
{% else %}
# - desktop
  - self_hosted
{% endif %}
# - docker
# - media

## ROLES

