---

ssh_rsa_passphrase: !vault |
  {{ rsa_encrypted | indent(width=2) | trim }}

ssh_ed25519_passphrase: !vault |
  {{ ed25519_encrypted | indent(width=2) | trim }}

github_personal_access_token: !vault |
  {{ github_token_encrypted | indent(width=2) | trim }}
