# shell-related variables
export EDITOR=vim
export VISUAL=vim
export DIRSTACKSIZE=10  # Max directories in auto_pushd stack

# application configs
export CHTSH_QUERY_OPTIONS="style=vs"
export DOCKER_CLI_HINTS=false
export GH_PAGER=glow
export LESS="-R --mouse"

# Homebrew settings
export HOMEBREW_CELLAR={{ global_homebrew_prefix }}/Cellar
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_EMOJI=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_INSTALL_CLEANUP=1
export HOMEBREW_NO_INSTALL_UPGRADE=1
export HOMEBREW_PREFIX={{ global_homebrew_prefix }}
export HOMEBREW_REPOSITORY={{ global_homebrew_prefix }}/Homebrew

# application XDG configs
export ANSIBLE_HOME="${HOME}/.config/ansible"
export BUNDLE_USER_CACHE="${HOME}/.cache/bundle"
export BUNDLE_USER_CONFIG="${HOME}/.config/bundle"
export BUNDLE_USER_PLUGIN="${HOME}/.local/share/bundle"
export CARGO_HOME="${HOME}/.local/share/cargo"
export DOCKER_CONFIG="${HOME}/.config/docker"
export EZA_CONFIG_DIR="${HOME}/.config/eza"
export GOPATH="${HOME}/.local/share/go"
export HISTFILE="${HOME}/.cache/zsh/history"
export KREW_ROOT="${HOME}/.local/share/krew"
export MINIKUBE_HOME="${HOME}/.local/share/minikube"
export NPM_CONFIG_PREFIX="${HOME}/.local"
export NPM_CONFIG_CACHE="${HOME}/.cache/npm"
export NPM_CONFIG_INIT_MODULE="${HOME}/.config/npm/config/npm-init.js"
export NPM_CONFIG_TMP="${HOME}/.local/run/npm"
export NPM_CONFIG_USERCONFIG="${HOME}/.config/npm/npmrc"
export NVM_DIR="${HOME}/.local/share/nvm"
export PYTHON_HISTORY="${HOME}/.config/python/history"
export TERMINFO="${HOME}/.local/share/terminfo"
export TERMINFO_DIRS="${HOME}/.local/share/terminfo:/usr/share/terminfo"
export STARSHIP_CONFIG="${HOME}/.config/starship/rose-pine-dawn.toml"
export SQLITE_HISTORY="${HOME}/.cache/sqlite_history"
export W3M_DIR="${HOME}/.local/share/w3m"
