# shell-related variables
export EDITOR=vim
export VISUAL=vim
export DIRSTACKSIZE=10  # Max directories in auto_pushd stack
export LESS="-R --mouse"

# external programs
export CHTSH_QUERY_OPTIONS="style=vs"
export DOCKER_CLI_HINTS=false
export GH_PAGER=glow

# Homebrew settings
export HOMEBREW_CELLAR={{ global_homebrew_prefix }}/Cellar
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_EMOJI=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_INSTALL_CLEANUP=1
export HOMEBREW_NO_INSTALL_UPGRADE=1
export HOMEBREW_PREFIX={{ global_homebrew_prefix }}
export HOMEBREW_REPOSITORY={{ global_homebrew_prefix }}/Homebrew

# program XDG environment variables
export ANSIBLE_HOME="${HOME}/.config/ansible"
export CARGO_HOME="${HOME}/.local/share/cargo"
export DOCKER_CONFIG="${HOME}/.config/docker"
export GOPATH="${HOME}/.local/share/go"
export HISTFILE="${HOME}/.cache/zsh/history"
export MINIKUBE_HOME="${HOME}/.local/share/minikube"
export NVM_DIR="${HOME}/.local/share/nvm"
export PYTHON_HISTORY="${HOME}/.config/python/history"
export TERMINFO="${HOME}/.local/share/terminfo"
export TERMINFO_DIRS="${HOME}/.local/share/terminfo:/usr/share/terminfo"
export SQLITE_HISTORY="${HOME}/.cache/sqlite_history"
export W3M_DIR="${HOME}/.local/share/w3m"
