# ===== Server options
set -g status-interval 0
set -g default-terminal "screen-256color"


# ===== Session options
set -g default-command "${SHELL}"
set -g mouse on
set -g history-limit 10000
set -g base-index 1
set -g renumber-windows on
set -g message-style fg=colour234
set -g message-command-style fg=colour234

# ----- Status bar: global
set -g status-style bg=default
set -g status-position top
set -g status-justify left

# ----- Status bar: left
set -g status-left ""

# ----- Status bar: right
set -g status-right "#[bold]\
{% if tmux_display['gcloud'] %}
  #[fg=colour160]#(tmux-gcloud)\
{% endif %}
{% if tmux_display['kubectl'] %}
  #[fg=colour33]#(tmux-kubectl)\
{% endif %}
{% if tmux_display['terraform'] %}
  #[fg=colour61]#(tmux-terraform)\
{% endif %}
{% if tmux_display['os'] %}
  #[fg=colour125]{{ ansible_distribution }} {{ ansible_distribution_version }}\
{% endif %}
  #[fg=colour166]#h\
  #[fg=colour61]#{session_name}\
  #[nobold]"
set -g status-right-length 250


# ===== Window options
set -g aggressive-resize off
set -g mode-style bg=colour24,fg=colour231

# ----- Status bar: windows (i.e. tabs)
set -g window-status-format \
  "#[fg=colour245,bg=default,bold]\[#I\] #{?pane_synchronized,#[fg=colour160],#[fg=colour241]}#W#[nobold] "
set -g window-status-current-format \
  "#[fg=colour33,bg=default,bold]\[#I\] #{?pane_synchronized,#[fg=colour160],#[fg=colour33]}#W#[nobold] "
set -g window-status-current-style fg=colour231,bg=default
set -g window-status-activity-style fg=colour231,bg=default


# ===== Pane options
set -g allow-rename off
set -g pane-active-border-style fg=colour33,bg=colour255
set -g pane-border-style fg=colour245


# ===== Key bindings
bind 'k' clear-history
bind 'y' set synchronize-panes
bind 'u' source-file "~/.tmux.conf"
bind 'h' select-layout even-vertical
bind 'v' select-layout even-horizontal
bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe
{%- if 'Darwin' in ansible_system %} "pbcopy"
{% else %} "xsel -i -p && xsel -o -p | xsel -i -b"
{% endif -%}
bind -T copy-mode-vi WheelUpPane send -N2 -X scroll-up      # fix scrolling in Hyper
bind -T copy-mode-vi WheelDownPane send -N2 -X scroll-down  # "
bind '"' split-window -c "#{pane_current_path}"             # new pane opens to same directory
bind % split-window -h -c "#{pane_current_path}"            # "
